extends ../layout

block content
   include ../nav.pug
   .container.my-5
      
      h1.my-4 Actualizar Usuario

      form(action=`/usuarios/${usuario._id}/update`, method='post')
         .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text', name='nombre', value=usuario.nombre, class=errors.nombre ? 'is-invalid' : '')
            if errors.nombre
               small#nombreHelp.text-danger
                  = errors.nombre.message

         .form-group
            input.btn.btn-primary(type='submit' value='Guardar')
            a.btn(href='/usuarios') Cancelar