
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 12rem; /* Margin bottom by footer height */
  padding-bottom: 2rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem; /* Set the fixed height of the footer here */
  line-height: 12rem; /* Vertically center the text there */
  padding: 0;
}

#main_map, #map_view {
  height: 600px;
}