extends ../layout

block content
   include ../nav.pug
   .container.my-5
      .row.mb-3.mt-3
         .col-6
            h1 Bicicletas
         .col-6.text-right
            a.btn.btn-success(href='/bicicletas/create') Nueva Bicicleta
      .row

         table.table 
            thead
               tr
                  th(scope='col') #
                  th(scope='col') Código
                  th(scope='col') Color
                  th(scope='col') Modelo
                  th(scope='col') Ubicación
                  th(scope='col') 
                  th(scope='col') 
                  th(scope='col') 
            tbody
               each bici, index in bicis
                  tr 
                     th(scope='row')= index+1
                     td= bici.code
                     td= bici.color
                     td= bici.modelo
                     td= bici.ubicacion
                     td
                        a.btn.btn-primary.btn-sm(href='bicicletas/' + bici._id + '/update') Editar
                     td
                        a.btn.btn-sm(href='bicicletas/' + bici._id + '/show') Ver
                     td
                        form.inline(method='post', action='bicicletas/'+ bici._id + '/delete')
                           input(type='hidden' name='id' value=bici._id)
                           button.btn.btn-danger.btn-sm(type='submit' name='submit_param' value='submit_value' class='btn') Eliminar
                     
               if bicis.length === 0
                  tr
                     td(colspan='8' class='text-center') No hay bicicletas