extends ../layout

block content
   include ../nav.pug
   .container.my-5
      a.btn(href='/bicicletas') Volver

      h1.my-4 Ver Bicicleta

      table.table
         tbody
            tr
               td(scope='col') Código
               td= bicicleta.code
            tr
               td(scope='col') Color
               td= bicicleta.color
            tr
               td(scope='col') Modelo
               td= bicicleta.modelo
            tr
               td(scope='col') Ubicacion
               td= bicicleta.ubicacion
            tr
               td(colspan=2)
                  #map_view
      
      input#lat(type='hidden' value=bicicleta.ubicacion[0])
      input#lng(type='hidden' value=bicicleta.ubicacion[1])
      input#code(type='hidden' value=bicicleta.code)

block script
   script.
      let lat = document.getElementById('lat').value;
      let lng = document.getElementById('lng').value;
      let code = document.getElementById('code').value;
      
      var map = L.map('map_view').setView([lat, lng], 13);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
         attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
      }).addTo(map);

      L.marker([lat, lng], {title: code}).addTo(map);
   