extends ../layout

block content
   include ../nav.pug

   .container.my-5

      h1.my-4 Actualizar Bicicleta

      form(action=`/bicicletas/${bicicleta._id}/update`, method='post')
         .form-group
            label(for='code') Código:
            input#code.form-control(type='text', name='code', value=bicicleta.code, class=errors.code ? 'is-invalid' : '')
            if errors.code
               small#codeHelp.text-danger
                  = errors.code.message
         .form-group
            label(for='color') Color:
            input#color.form-control(type='text', name='color', value=bicicleta.color)
         .form-group
            label(for='modelo') Modelo:
            input#modelo.form-control(type='text', name='modelo', value=bicicleta.modelo)
         .form-group
            label(for='lat') Latitud:
            input#lat.form-control(type='text', name='lat', value=bicicleta.ubicacion[0])
         .form-group
            label(for='lng') Longitud:
            input#lng.form-control(type='text', name='lng', value=bicicleta.ubicacion[1])
         .form-group
            //- input(type='hidden', name='_id', value=bicicleta._id)
            input.btn.btn-primary(type='submit', value='Guardar')
            a.btn.btn-default(href='/bicicletas') Cancelar